<div class="login-container">
    <%= form_with url: user_path(@user), method: :put do |f| %>
    <div>
      <%= f.label :password, class: "col-sm-2 col-form-label" %>
      <%= f.password_field :password, class: "form-control" %>
      <%= hidden_field_tag 'token', @token  %>
    </div>
    <div>
      <%= f.submit "Confirm", class: "btn btn-success" %>
    </div>
  <% end %>

</div>
